{% extends "src/base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "src/css/index.css" %}">
{% endblock %}

{% block body %}
    <div class="container">
        <main class="row">
            <div class="col align-self-center">
                <div class="row justify-content-center">
                    <label for="search">
                        <img id="logo" src="{% static "src/img/logo.png" %}" alt="Quarry Logo" />
                    </label>
                </div>
                <div class="py-2"></div>
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <form class="needs-validation" action="{% url "search" %}" novalidate>
                            <div class="row no-gutters">
                                <div class="col">
                                    <input autofocus type="search" class="form-control form-control-lg" id="search" name="q" placeholder="Search" required>
                                </div>
                                <div class="px-2"></div>
                                <div class="col-auto">
                                    <button type="submit" id="submit" class="btn btn-primary btn-lg disabled"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script>
        window.addEventListener('load', () => {
            const search = document.getElementById('search');
            const submit = document.getElementById('submit');

            function canSubmit() {
                return search.value.trim() !== '';
            }

            function updateSubmitButton() {
                if (canSubmit()) {
                    submit.classList.remove('disabled');
                } else {
                    submit.classList.add('disabled');
                }
            }

            [...document.getElementsByClassName('needs-validation')].forEach(form => {
                form.addEventListener('submit', e => {
                    if (!form.checkValidity() || !canSubmit()) {
                        e.preventDefault();
                        e.stopPropagation();
                    }
                });
            });

            search.addEventListener('keyup', () => {
                updateSubmitButton();
            });

            updateSubmitButton();
        });
    </script>
{% endblock %}
